@import "../../mixin.scss";

.services{
    background-color: #323232;
}
.services-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.services-text{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 110px 0 80px 0;
    max-width: 739px;
    &__title{
        @include title;
        color: white;
    }
    &__subtitle{
        @include subtitle;
        color: white;
        max-width: 730px;
    }
}

.services-items{
    display: flex;
    margin-bottom: 120px;
    gap: 10px;
    &__item {
        display: flex;
        flex-direction: row ;
        gap: 10px;
    }
    &__item-img{
        position: relative;
        top: -53px;
        height: 110px;
        width: 110px; 
    }
    
}

.item-text__title {
    @include item-title;
    color: white;
}

.item-text__subtitle {
    @include subtitle;
    font-size: 14px;
    line-height: 22px;
    max-width: 222px;
    text-align: left;
    margin-top: 12px;
}
@media (max-width: 1017px){
    .services-items {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 40px;
    }
}
@media (max-width: 800px){
    .services-text__title {
        font-size: 29px;
        line-height: 38px;
    }
    .services-items {
        flex-direction: column;
        gap: 45px;
    }
    .services-items__item-img {
        top:-40px;
    }
}

