@import "../../mixin.scss";

.slider-image {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 0;
    margin: 0 40px;
    align-items: center;
    & img {
        width: 100%; 
        height: 450px; 
        object-fit: cover; 
        object-position: top; 
        border-radius: 50px
    }
    & h1 {
        @include subtitle;
        color: white;
        max-width: 400px;
        text-align: left;
        text-indent: 5px;
        text-align: center;
    }
    & a {
        display: flex;
        justify-content: center;
        position: relative;
        &::after {
            content: "Visit";
            position: absolute;
            @include subtitle;
            font-size: 14px;
            bottom: -25px;
        }
    }
}
.swiper {
    box-shadow: inset 0 0 0 2000px rgb(0 0 0 / 20%);
    background-color: #555454;
    border-radius: 50px;
    &-button-prev::after{
        display: none;
        color: goldenrod;
    }
    &-button-next::after{
        display: none;
        color: goldenrod;
    }
    &-pagination{
        display: none;
    }
    &-pagination-bullet-active{
        display: none;
        background-color: goldenrod !important; 
    }
}
@media (max-width: 678px) {
    .swiper {
        border-radius: 30px;
        &-button-next::after {
            display: none;
        } 
        &-button-prev::after{
            display: none;
        }
    }
    .slider-image img{
        border-radius: 30px;
        height: 250px; 
    }
}
@media (max-width: 424px) {
    .slider-image img{
        border-radius: 30px;
        height: 150px; 
    }
}