@import "../../mixin.scss";

.specification{
    &__present {
        background: #323232;
        &-content{
            padding: 100px 0 300px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            & h1 {
                @include title;
                color: white;
                max-width: 540px;
            }      
        }
    }
    &__examples {
        position: relative;
        bottom: 180px;
        &-items {
            display: flex;
            flex-direction: row;
            gap: 30px;
            justify-content: space-around;
            position: relative;
            top: -232px;
            padding-bottom: 85px;
            margin-bottom: -147px;
            &::before {
                @include separator;
            }
        }
        &-item {
            max-width: 350px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            & h1 {
                @include title;
                text-align: left;
                font-size: 18px;    
            }
            & p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 25px;
            }
            & a {
                @include subtitle;
                color: #504DC2;
                text-decoration: underline;
                text-align: left;
            }
        }
    }
}
.d213 {
    height: 200px;
}

@media (max-width: 1160px){
    .specification__examples-items {
        flex-direction: column;
        align-items: center;
    }
    .specification__examples-item {
        gap:none;
    }
}
@media (max-width: 800px){
    .specification__present-content{
        flex-direction: column;
        gap: 25px;
        & h1 {
            font-size: 25px;
            line-height: 35px;
        }
    }
    .specification__examples-item{
        align-items: center;
        & p {
        font-size: 14px;
        line-height: 20px;
        }
        & img {
            width: 80%;
        }
    }
}
@media (max-width: 500px){
    .specification__examples{
        bottom: 130px;
    }
    .specification__present-content{
        padding: 50px 0 180px 0;
    }
}
