@import '../../mixin.scss';

.header{
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    background: #323232;
    border-bottom: 2px solid goldenrod;
    // &::before{
    //     @include separator
    // }
    &-burger{
        position: absolute;
        top: 20px;
        left: 10px;
    }
    &-content{
        padding: 15px 0;
        &__menu{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 40px;
            &-item a{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #FFFFFF;
                transition: 0.5s;
            }
            &-item a:hover{
                color: goldenrod;
                transition: 0.5s;
            }
        }
    }
    
}

@media (max-width: 760px) {
    // .header::before {
    //     content: none;
    // }
    .header-content{
        &__menu{
            justify-content: space-around;
            gap: 10px;
        }
    }
    .header-burger{  
        height: 20px;
        width: 30px;
        cursor: pointer;
        & span {
            top: 50%;
            transform: scale(1) translate(0px, -50%);
        }
    }
    .header-burger span, 
    .header-burger::after,
    .header-burger::before {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }
    .header-burger::after,
    .header-burger::before {
        content: '';
    }
    .header-burger::after {
        top: 0;
    }
    .header-burger::before{
        bottom: 0;
    }
    // .header-content {
    //     position: absolute;
    //     top: 0;
    //     width: 50%;
    //     height: 100%;
    //     padding: 45px 30px 30px 30px;
    //     left: -100%;
    //     transition: left 0.3s ease 0s;
    //     &__menu {
    //         display: flex;
    //         flex-direction: column;
    //         align-items: center;
    //         background-color: #323232;
    //         border-radius: 30px;
    //         padding: 20px 0;
    //     }
    // }
}
    ._active {
        left: 0;
        z-index: 20;
        width: 100%;
    }