.request-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-bottom: 85px;
}

.request__h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.request__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: grey;
    &-bottom {
        font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
    text-align: center;
    color: grey;
    }
}

.request__conteiner
{   
    position: relative;
    max-width: 489px;
    box-sizing: border-box;
    &-input {
        width: 488px;
        height: 45px;
        left: 715px;
        top: 5050px;
        background: #FFFFFF;
        border: 1px solid #F2F2F2;
        box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
        border-radius: 30px;
    }
    &-button {
        position: absolute;
        right: 0px;
        width: 180px;
        height: 45px;
        background: #4985FF;
        box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
        border-radius: 0px 30px 30px 0px;
        border: none;
    }
}
